### Strings

### String syntax

In [1]:
# You an use simple or double quotes to declare a string
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [2]:
# Double quotes are covinient when a string has a single quote charater.
print("Pluto's a planet!")

# Also double quotes stay as quotes between single quotes
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [3]:
# To use single quotes and apostrophes, we need an escape charater
print('Pluto\'s a planet!')

Pluto's a planet!

In [4]:
# \n, represents the newline character. It causes Python to start a new line.
hello = "hello\nworld"
print(hello)

hello
world

In [5]:
# triple quotes allow us to comment multiple lines explicit, hitting the enter key
triplequoted_hello = """hello
world"""

print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

The print() function automatically adds a newline character unless we specify a value for the keyword argument end other than the default value of '\n':

In [6]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

### Strings are squences

Strings can be thought of as sequences of characters. Almost everything we've seen that we can do to a list, we can also do to a string.

In [7]:
# Indexing
planet = "Pluto"
planet[0]

'P'

In [8]:
# Slicing
planet[-3:]

'uto'

In [9]:
# How long is this string?
len(planet)

5

In [10]:
# We can loop over strings
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

### String Methods

In [11]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [12]:
# All lower
claim.lower()

'pluto is a planet!'

In [13]:
# Search for fist index of substring
claim.index('plan')

11

In [14]:
claim.startswith(planet)

True

In [15]:
claim.endswith('dwarf planet')

False

In [16]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [17]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [18]:
print(year)
print(month)
print(day)

1956
01
31

In [19]:
'/'.join([month, day, year])

'01/31/1956'

In [20]:
# We can put Unicode characters in a string
' üëè '.join([word.upper() for word in words])

'PLUTO üëè IS üëè A üëè PLANET!'

In [21]:
planet + ', we miss you'

'Pluto, we miss you'

In [22]:
# Convert to string to concatenate
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [23]:
# .format() does the same job
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [24]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390

In [25]:
"{} weights about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(planet, pluto_mass, pluto_mass / earth_mass, population)

"Pluto weights about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [26]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

### Dictionaries

In [27]:
# Dictionaries are buil-in data structure for mapping kets to values.
numbers = {'one':1, 'two':2, 'three':3}

In [28]:
numbers['one']

1

In [29]:
# add new key and value
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [30]:
# substitute value for given key
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [31]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [32]:
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [33]:
'Saturn' in planet_to_initial

True

In [34]:
'Betelgeuse' in planet_to_initial

False

In [35]:
# for loop over dictionaries, loops over keys
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [36]:
# dict.keys to acces al keys
numbers.keys()

dict_keys(['one', 'two', 'three', 'eleven'])

In [37]:
# dict.values, to acces al values
numbers.values()

dict_values(['Pluto', 2, 3, 11])

In [38]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [39]:
# dict.items() lets us iterate over keys and values of a dictionary dimultaneously. An item us a pair of a key and it's value
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"